.home-header-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e8e8e8;
}

.header-text{
    font-size: 69px;
    font-weight: 900;
}

.header-subtext{
    color: #34cfb9;
    font-weight: 700;
}

button.shop-now-button{
    margin-top: 14%;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 13px;
    height: 41px;
    width: 150px;
    border-color: white;
    box-shadow: -6px 6px;
}

.text-bottom{
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.subtext-bottom{
    color: #34cfb9;
}

.offer-corousel{
    display: flex;
    margin: auto;
    height: 50%;
    width: 29%;
}
.corousel-deal-text-container{
    background-color: rgb(42, 165, 157);
    padding: 32px;
    text-align: center;
    height: 126px;
}

.corousel-deal{
    color: white;
    font-size: 21px;
}

.corousel-deal-text{
    font-size: 20px;
}

.corousel-container{
    display: flex;
    margin: 45px 0px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    visibility: hidden !important;
}
.carousel-indicators [data-bs-target] {
    background-color: black !important;
    height: 8px !important;
    width: 8px !important;
    border-radius: 50% !important;
}

.carousel-indicators .active{
    background-color: rgb(42, 165, 157) !important;
}

.trending-categories-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 28px 0px;
}

.featured-brands-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 25px 0px 9px 0px;
    border: 2px solid #ccc;
    box-shadow: 
        inset 0 0 5px 0 rgba(0, 0, 0, 0.2), /* Inner shadow */
        0 0 5px 0 rgba(0, 0, 0, 0.2); /* Outer shadow */
    margin: 35px 2px;
}

p{
    font-size: small;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

