
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #e8e8e8;
    padding: 2% 1%;
}

.all-icons{
    display: flex;
    width: 17%;
    justify-content: space-around;
    color: black;
}

html{
    background-color: #cfcfcf;
}

h2{
    color: white ;
    font-size: 35px;
    font-weight: 800 !important;
}

.icon-size{
    font-size: 20px;
}

.footer{
    background-color: #05383e;
    padding-bottom: 5%;
}

.footer-head{
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
}

.links{
    text-align: center;
    width: 20%;
    justify-content: space-around;
    display: flex;
    margin: 0% 17%;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    width: 115px;
    margin: 0px 108px;
    color: white;
}

a:-webkit-any-link {
    color: white !important;
    text-decoration: none !important;
}

hr{
    margin: 1% !important;
    color: white !important;
    opacity: 1.25 !important;
}

.input-group{
    width: 23% !important;
}

.btn-outline-secondary{
    border-radius: 0% !important;
    background-color: #c63500 !important;
    color: white !important;
    margin-bottom: 0% !important;
}


.form-control{
    border-radius: 0% !important;
}

.subscribe-input{
    display: flex;
    justify-content: center;
    margin: 38px 0px;
}

p.newsletter{
    align-items: center;
    display: flex;
    color: white;
    margin-right: 1%;
    margin-bottom: 0% !important;
}

.footer-text{
    display: flex;
    color: #ffffff;
    width: 53%;
    font-size: 13px;
    text-align: center;
    margin: auto;
}

.css-1hskriy {
    margin: 9% 2% !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: white !important;
    background-color: black !important;
    min-width: 13px !important;
    border-radius: 0px !important;

}

.css-1nxmd3h-MuiListItem-root :hover{
    background-color: rgb(42, 165, 157);
    color: white;
}

.nav-back-button{
    display: flex;
    justify-content: flex-end;
}

.css-10hburv-MuiTypography-root {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    margin-left: 13px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    width: 19%;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
    margin: 0px !important;
    padding: 0px !important;
}